h1{color: blue;}



.site-info {
  display: inline-block;
  margin: 0 1em;
  font-size: 150%;
  text-align: center;}

}
.navigation a {
  color: #FFF;
  text-decoration: none;
}
.logo {
  background-color: #FFF;
  width: 60px;
  height: 60px;

  display: inline-block;
  margin: 10px 20px 10px 10px;
  float: left;

  border-radius: 100%;

  line-height: 40px;
  color: #000;
  text-transform: uppercase;
  font-size: 8pt;
}



.nav{position: fixed;top: 0;width:100%;background-color: black;opacity:.9;}

#navhead{color: white;}
