.header {z-index:10;
    background-color: lightskyblue;
    font-family: sans-serif;
    font-size: 12pt;
    text-align: center;
    text-transform: uppercase;
      padding-top:20px ;padding-bottom: 20px;z-index:10;position:fixed;top:5px; width:100%;}

      header {z-index:10;
          background-color: lightskyblue;
          font-family: sans-serif;
          font-size: 12pt;
          text-align: center;
          text-transform: uppercase;
            padding-top:20px ;padding-bottom: 20px;z-index:10;position:fixed;top:5px; width:100%;}
.menu-item {
        margin: auto;;
        padding: 20px 20px 20px 20px;
        min-width: 75px;
        font-size: 10pt;
        color: #fff;
        background-color: plum;
        line-height: 10px; ;margin-left:20px;float:right;margin-right:20px }

.menu-item:hover {
            background-color: violet;
            color: #333;}

.display-inline-block {
                display: inline-block;
            }
.title{text-align: left;float: left;font-size: 35px;font-family: 'Viaoda Libre', cursive; line-height: 20px;font-weight: bolder; margin-left: 40px;margin-top:10px }

.background{margin: 00;position: relative;z-index:1;}

.logo{z-index:2;position: absolute; top:150px; left:800px;}

.greet{position: absolute;top:370px;left:650px; z-index:2;align-self: center;font-size: 50px}

  .container {
    background-color: white;
    width: 1000px; height: auto;
    padding: 20px;
    border: 1px solid black;z-index:3;position:absolute;top:425px;left:400px;display: inline-block; font-size: 40px;color: lightslategray;font-style: italic;
  }

.contact{margin:auto; text-align:center;}

.submit:hover{outline-style: dotted;outline-color: black;outline-width:20px; color: black}

.social-blocks{padding:5px;}
.social-blocks a:hover{outline-style: ridge;;outline-color: black;outline-width:10px; color: black}
